<html ng-app="app">
<head>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/wordcloud2.js/src/wordcloud2.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	<script src="services/favoriteArtists.js"></script>
	<script src="wordcloudDirective.js"></script>
</head>
<body ng-controller="ApplicationCtrl">
	<div>
		<h3> Personal music cloud</h3>
		<form>
			<input type="text" ng-model="username" placeholder="last.fm username"></input>
			<button ng-click="generateCloud(username)">Generate wordcloud</button>
		</form>

	</div>
	<wordcloud ng-if="test" list="test"></wordcloud>
	<p>{{test}}</p>

</body>

</html>